name: CI

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  js-build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5
      - uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6
        with:
          node-version: 24.x
          cache: npm
          cache-dependency-path: '**/package-lock.json'

      - working-directory: ./prepare-js
        run: |
          npm ci
          npm run package
      - working-directory: ./read-config
        run: |
          npm ci
          npm run package

      - run: git diff --exit-code

  js-commit:
    if: ${{ github.event_name == 'pull_request' }}
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5
        with:
          repository: ${{ github.event.pull_request.head.repo.full_name }}
          ref: ${{ github.event.pull_request.head.ref }}
      - uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6
        with:
          node-version: 24.x
          cache: npm
          cache-dependency-path: '**/package-lock.json'

      - working-directory: ./prepare-js
        run: |
          npm ci
          npm run package
      - working-directory: ./read-config
        run: |
          npm ci
          npm run package

      - name: Commit and push if there is diff
        run: |
          if ! git diff --exit-code; then
            git config user.name "github-actions[bot]"
            git config user.email "41898282+github-actions[bot]@users.noreply.github.com"
            git add .
            git commit -m "[skip ci] Rebuild js dist"
            git push origin ${{ github.event.pull_request.head.ref }}
          fi
