# Plan and apply on pull requests
name: CI

on:
  workflow_call:
    inputs:
      enable-import-guard:
        description: 'If true, block merge when import is mixed with other changes'
        type: boolean
        default: true

concurrency:
  group: ${{ github.workflow }}-${{ github.ref_name }}
  cancel-in-progress: false

permissions:
  contents: read
  actions: read
  pull-requests: write
  id-token: write

jobs:
  prepare:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5
      - id: prepare
        uses: gmo-media/tofu-actions/prepare@v5
    outputs:
      strategy: ${{ steps.prepare.outputs.strategy }}
      merged-pr-number: ${{ steps.prepare.outputs.merged-pr-number }}
      merged-pr-run-id: ${{ steps.prepare.outputs.merged-pr-run-id }}

  plan:
    needs: [ prepare ]
    name: Plan (${{ matrix.dir }})
    if: ${{ github.event_name == 'pull_request' && needs.prepare.outputs.strategy != '[]' }}
    strategy:
      fail-fast: false
      matrix:
        include: ${{ fromJSON(needs.prepare.outputs.strategy) }}
    runs-on: ubuntu-latest
    steps:
      - uses: gmo-media/tofu-actions/configure@v5
        with:
          dir: ${{ matrix.dir }}

      - uses: gmo-media/tofu-actions/plan@v5
        with:
          dir: ${{ matrix.dir }}

  plan-comment:
    needs: [ prepare, plan ]
    if: ${{ always() && github.event_name == 'pull_request' }}
    name: Plan comment
    runs-on: ubuntu-latest
    steps:
      - uses: gmo-media/tofu-actions/plan-comment@v5
        with:
          force-fail: ${{ contains(needs.*.result, 'failure') }} # Make this job fail if dependencies failed
          enable-import-guard: ${{ inputs.enable-import-guard }}

  apply:
    needs: [ prepare ]
    name: Apply (${{ matrix.dir }})
    if: ${{ github.event_name == 'push' && needs.prepare.outputs.strategy != '[]' && needs.prepare.outputs.merged-pr-number != '' }}
    strategy:
      fail-fast: false
      matrix:
        include: ${{ fromJSON(needs.prepare.outputs.strategy) }}
    runs-on: ubuntu-latest
    steps:
      - if: ${{ needs.prepare.outputs.merged-pr-run-id == '' }}
        name: Fail if no plan found
        run: echo "We wanted to auto-apply a plan generated in PR, but we could not find one. Perhaps the PR workflow failed?" && exit 1

      - uses: gmo-media/tofu-actions/configure@v5
        with:
          dir: ${{ matrix.dir }}
          mode: apply

      - uses: gmo-media/tofu-actions/apply@v5
        with:
          dir: ${{ matrix.dir }}
          run-id: ${{ needs.prepare.outputs.merged-pr-run-id }}
