name: Release

on:
  push:
    tags:
      - v*.*.*
    branches-ignore:
      - '**'

  workflow_call:
    inputs:
      ref_name:
        description: Tag short ref name like v1.2.3
        type: string
        required: true

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5
      - name: Release
        uses: softprops/action-gh-release@a06a81a03ee405af7f2048a818ed3f03bbf83c7b # v2
        with:
          tag_name: ${{ inputs.ref_name || github.ref_name }}
          generate_release_notes: true

  update-major-tag:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5
      - id: tag
        run: |
          tag="${{ inputs.ref_name || github.ref_name }}"
          major="${tag%%.*}"
          echo "major=${major}" >> $GITHUB_OUTPUT
      - name: Git config
        run: |
          git config user.name "github-actions[bot]"
          git config user.email "41898282+github-actions[bot]@users.noreply.github.com"
      - name: Tag new target
        run: git tag -f ${{ steps.tag.outputs.major }}
      - name: Push new tag
        run: git push origin ${{ steps.tag.outputs.major }} --force
